.mat-button-toggle-label-content {
  line-height: 36px !important;
  padding: 0 6px !important;

  .mat-icon {
    transform: scale(0.8);
  }
}

.mat-flat-button {
  // For button using the Aligned Icon Component, which as a height of 24px
  min-height: 36px;
}
