mat-button-toggle-group {
  &.mat-button-toggle-group-appearance-standard {
    border-radius: 5px;
    border: solid 2px var(--color);
    transition: border-color $transition-time;
    .mat-button-toggle-appearance-standard {
      color: var(--color);
      font-family: var(--font-family);
      background-color: transparent;
      font-size: var(--button-font-size);
      button {
        padding: var(--button-padding);
        font-size: var(--button-font-size);
        &[aria-checked="true"] {
          background-color: var(--color);
          border-radius: 0;
        }
      }
      & + .mat-button-toggle-appearance-standard {
        border-left-color: var(--color);
        color: var(--color);
        transition: border-left-color $transition-time;
      }
      .mat-button-toggle-label-content {
        line-height: initial;
        padding: 0;
        font-size: var(--button-font-size);
      }
      &.mat-button-toggle-checked {
        background-color: var(--color);
        transition: background-color $transition-time;
        .mat-button-toggle-label-content {
          color: var(--background);
          transition: color $transition-time;
          padding: var(--buttonn-padding);
          font-size: var(--button-font-size);
        }
        button {
          &:hover {
            background-color: var(--color);
          }
        }
      }
    }
    .mat-pseudo-checkbox {
      display: none;
      &::after {
        color: var(--background);
        transition: color $transition-time;
      }
    }
  }
}
